<html>

<head></head>

<body>
    <h3> Welcome to Login Page </h3>

    <form action="login/userLogin" method="POST">
        <div>
            <label for="username"> username </label>
            <input type="text" name="username" id="username">
        </div>
        <br>
        <div>
            <label for="password"> Password </label>
            <input type="password" name="password" id="password">
        </div>
        <br><br>

        <button type="Submit"> Login </button>

    </form>
</body>
<style>
    body {
        text-align: center;
    }

   
</style>

</html>